<header>
  <div class="py-3 bg-primary-300 text-center">
    <div class="container">
      <p class="text-white text-sm">This is an announcement tagline for you to insert</p>
    </div>
  </div>

  <div class="py-8 header-main">
    <div class="container">
      <div class="flex justify-between items-center">
        <div class="flex gap-20 items-center flex-1 relative">
          <a href="#">
            <img src="/src/assets/logo.svg" width="113" height="36" alt="Uifry" />
          </a>

          <nav class="nav-main" aria-hidden="false">
            <ul role="list">
              <li><a href="#">Home</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Pricing</a></li>
              <li><a href="#">Blog</a></li>
            </ul>
          </nav>

          <div class="nav-main-toggler ml-auto">
            <button type="button" aria-label="Toggle menu" class="btn btn-square btn-secondary">
              <img src="/src/assets/menu-button.svg" width="24" height="24" alt="Menu button toggler" />
            </button>
          </div>
        </div>

        <div class="header-main-contact">
          <a href="#" class="btn btn-secondary">Contact Now</a>
        </div>
      </div>
    </div>
  </div>
</header>
